.margin-l-5px {
	margin-left: 5px;
}
.margin-r-5px {
	margin-right: 5px;
}
.margin-b-10px{
	margin-bottom: 10px;
}
.margin-l-20px {
	margin-left: 20px;
}
.margin-b-20px {
	margin-bottom: 20px;
}
.margin-a  {
	margin:auto ;
	width: 1200px;
}
h1{
	font-size: 16px;
	background: #efefef;
	padding: 0px 14px;
	color: #666666;	
	border-bottom: 1px solid #cccccc;
}
h2{
	font-size: 14px;
}